/* Name:Guangwei Wang  Student Number:8818318*/

#div1 {
    background-color: rgb(186 33 33);
}

#div1 header div {
    color: #ffffff;
}

#div2 nav {
    background-color: rgb(7 124 136);
}

#div2 nav ul li ul {
    background-color: #414b21;
}

#div2 nav ul li ul li a {
    color: white;
}

#div2 nav ul li ul li:hover a:hover {
    color: #4800ff;
    background-color: #e29754;
}

#div2 nav a {
    color: #ffffff;
}

#div4 {
    background-color: rgb(7 124 136);
    color: #f2e9e9;
}

#div5 {
    background-color: #780000;
}

#div5 textdiv {
    color: #e7e3e3;
}

#div6 {
    background-color: #780000;
}

#div6 textdiv {
    color: #e7e3e3;
}

#div7 {
    color: #e7e3e3;
    background-color: #780000;
}

#div8 {
    background-color: #780000;
    color: #e7e3e3;
}

#div9 {
    background-color: #927916cc;
}

#div9 leftNav {
    color: rgb(88, 19, 19);
}

#div9 leftNav ul li a {
    color: #7d1760;
}

#div9 middleNav {
    color: rgb(93, 25, 25);
}

#div9 middleNav ul li a {
    color: #7d1760;
}

#div9 rightNav {
    color: rgb(91, 19, 19);
}

#div9 rightNav ul li a {
    color: #7d1760;
}

a:hover {
    color: #cf1616;
    background-color: #da1e1e;
}

a:focus {
    color: #2cba2a;
    background-color: #4d1eda;
}

.cardImg:hover {
    color: #ededed;
    background-color: #780000;
}

#div10 {
    background-color: #927916cc;
}

#div8 bottomtext a {
    color: white;

}

#div8 bottomText h2 {
    color: #ea9c0b;
}

#div8 bottomText h2 a {
    color: #ea9c0b;
}

#div8 bottomText h2 a:hover {
    color: #09a1f3;
}

#div8 leftcard>a {
    background-color: rgb(241, 234, 198);
}

#div8 middlecard>a {
    background-color: rgb(241, 234, 198);
}

#div8 rightcard>a {
    background-color: rgb(241, 234, 198);
}